<!DOCTYPE html>
<html>

<head>
    <title>PDB Processing Demo</title>
    <style>
        #loading-indicator {
            display: none;
        }
    </style>
</head>

<body>
    <h1>PDB File Upload</h1>
    <h2>Please upload a .zip archive with .pdb files you wish to process</h2>
    <form method="POST" enctype="multipart/form-data">
        <input type="file" name="zipfile">
        <button type="submit">Submit</button>
    </form>

    <div id="loading-indicator">
        <h2>Processing File...</h2>
    </div>

    {% if error %}
    <div class="error-message">
        {{ error }}
    </div>
    {% endif %}

    <h2>Check Task Status</h2>
    <input type="text" id="hash-input" placeholder="Enter Hash">
    <button type="button" id="status-check-button">Check Status</button>
    <div id="status-message"></div>

    <script>
        const form = document.querySelector('form');
        const loadingIndicator = document.getElementById('loading-indicator');

        form.addEventListener('submit', () => {
            loadingIndicator.style.display = 'block';
        });

        const statusCheckButton = document.getElementById('status-check-button');
        const hashInput = document.getElementById('hash-input');
        const statusMessage = document.getElementById('status-message');

        statusCheckButton.addEventListener('click', () => {
            const hash = hashInput.value;
            if (hash) {
                window.location.href = `http://127.0.0.1:5001//task-status/${hash}`;
            } else {
                statusMessage.textContent = 'Please enter a hash.';
            }
        });
    </script>
</body>

</html>